* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
}

:root {
	--main-color: #ff702a;
	--text-color: #fff;
	--bg-color: #1e1c2a;
	--big-font: 5rem;
	--h2-font: 2.25rem;
	--p-font: 0.9rem;
}

*::selection {
	background: var(--main-color);
	color: #fff;
}

body {
	color: var(--text-color);
	background: var(--bg-color);
}
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.875rem 10.625rem;
	background: var(--bg-color);
}

.logo {
	color: var(--main-color);
	font-weight: 600;
	font-size: 2.4rem;
}

.navbar {
	display: flex;
}
.navbar a {
	color: var(--text-color);
	font-size: 1.1rem;
	padding: 0.625rem 1.25rem;
	font-weight: 500;
}
.navbar a:hover {
	background-color: var(--main-color);
	color: #fff;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#menu-icon {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}
section {
	padding: 4.375rem 17%;
}
.home {
	width: 100%;
	min-height: 90vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
	align-items: center;
}

.home-img img {
	max-width: 100%;
	width: 37.5rem;
	height: auto;
}

.home-tex h1 {
	font-size: var(--big-font);
	color: var(--main-color);
}
.home-tex h2 {
	font-size: var(--h2-font);
	margin: 1rem 0 2rem;
}
.btn {
	display: inline-block;
	padding: 0.625rem 1.25rem;
	color: #ffffff;
	border-radius: 0.5rem;
	border: 2px solid var(--main-color);
}
.btn:hover {
	background-color: var(--main-color);
	color: #fff;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 1.5rem;
	align-items: center;
}

.about-img img {
	max-width: 100%;
	width: 30rem;
	height: auto;
}

.about-text span {
	color: var(--main-color);
	font-weight: 600;
}
.about-text h2 {
	font-size: var(--h2-font);
}
.about-text p {
	margin: 0.8rem 0 1.8rem;
	line-height: 1.7;
}
.heading {
	text-align: center;
}
.heading span {
	color: var(--main-color);
	font-size: 600;
}
.heading h2 {
	font-size: var(--h2-font);
}

.menu-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13.75rem, auto));
	grid-gap: 1.5rem;
	align-items: center;
}
.box {
	position: relative;
	margin-top: 4rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #feeee7;
	padding: 1.25rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}

.box-img {
	width: 13.75rem;
	height: 13.75rem;
}
.box-img img {
	width: 100%;
	height: 100%;
}
.box h2 {
	font-size: 1.3rem;
	color: var(--bg-color);
}
.box h3 {
	color: var(--bg-color);
	font-size: 1rem;
	font-weight: 400;
	margin: 0.25rem 0 0.625rem;
}
.box span {
	font-size: var(--p-font);
	color: var(--main-color);
	font-weight: 600;
}
.box .bx {
	background: var(--main-color);
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.875rem;
	padding: 0.4375rem 0.625rem;
	border-radius: 0 0.5rem 0 0.5rem;
	-webkit-border-radius: 0 0.5rem 0 0.5rem;
	-moz-border-radius: 0 0.5rem 0 0.5rem;
	-ms-border-radius: 0 0.5rem 0 0.5rem;
	-o-border-radius: 0 0.5rem 0 0.5rem;
}
/* Servicios */
.servicio-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
	gap: 1.5rem;
	margin-top: 4rem;
}
.s-box {
	text-align: center;
	padding: 1.25rem 1.875rem;
}
.s-box img {
	width: 5.625rem;
}
.s-box h3 {
	margin: 0.25rem 0 0.625rem;
	color: var(--main-color);
	font-size: 1.2rem;
}
.s-box p {
	line-height: 1.7;
}

/* call to action */
.cta{
  background: #e7b17b81;
  padding: 4.375rem 0;
  text-align: center;
  width: 66%;
  margin: 6.25rem auto;
  border-radius: .625rem;
  -webkit-border-radius: .625rem;
  -moz-border-radius: .625rem;
  -ms-border-radius: .625rem;
  -o-border-radius: .625rem;
}
.cta h2{
font-size: 2rem;
color: var(--bg-color);
margin-bottom: 1.875rem;
}

.main{
  
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: .625rem 0;
}
.col{
  
  width:25%;
}
.col h4{
  
  font-size: 1.2rem;
  color:var(--text-color);
  margin-bottom:1.5625rem;
  position: relative;
}
.col h4::before{
  content: "";
  position: absolute;
  height: .125rem;
  width: 3.125rem;
  left:0;
  bottom:-0.5rem;
  background: var(--main-color);
}

.col ul li:not(last-child){
  
  margin-bottom: .9375rem ;
}

.col ul li a{
  color: #9897a9;
  font-size: 1.1rem;
  display: block;
  text-transform: capitalize;
  transition: -4s;
  -webkit-transition: -4s;
  -moz-transition: -4s;
  -ms-transition: -4s;
  -o-transition: -4s;
}
.col ul li a:hover{
  color: var(--text-color);
  transform: translateX(-0.75rem);
  -webkit-transform: translateX(-0.75rem);
  -moz-transform: translateX(-0.75rem);
  -ms-transform: translateX(-0.75rem);
  -o-transform: translateX(-0.75rem);
}
.col .social{
  
  width: 13.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col .social a{
  height: 2.5rem;
  width: 2.5rem;
  background: var(--main-color);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
.col .social a:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  color: var(--bg-color);
  background: var(--text-color);
}